.about .title {
	font-size: 30px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #bbb;
	width: 50%;
	margin: 0px auto;
}

.about .title a {
	color: black;
	font-size: 40px;
	font-weight: bold;
}

.about .tt2 {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #bbb;
}

.about .content1 {
	margin: 0px 30px 10px;
}